{% include head.html %}
</head>
<body>
<div id="main">
	<h1><a href="http://ac.geodesy.cn">Acheng's Blog</a></h1>
{{ content }}
	<div id="msg">
		<h3>发表评论</h3>
		<div class="ds-thread"></div>
		<script type="text/javascript">
		var duoshuoQuery = {short_name:"acheng"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = 'http://static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			|| document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
	</div>
{% include foot.html %}
